#sections .step:first-child .bgbg {
  z-index: 0;
     transition: none;
  -webkit-transition:none;
}

.step {
  background-color: #f8f6f2;
   transition: all .01s ease;
  -webkit-transition:all .01s ease;


}
#openerimg {
   z-index: 0;
        transition: none;
  -webkit-transition:none;

}

.step-content {
/*  max-width: 800px; */
  width:90%;
  padding:6vw;
  margin: 0 auto 10vh;
  padding:3vw;
position: relative;
z-index: 99999999999;

      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  

}

.wrap {
   margin: 0 auto 0;
  width: 100%;
}

.full img {
  width: 100%;
}

/* Aspect ratio trick */
.aspect {
  position: relative;
}

/* This padding preserve the aspect ratio */
.aspect:before {
  content: '';
  display: block;
  padding-top: calc(100% * 140/596);/* You could also manually calculate the percentage */
}

.aspect img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.bgbg img {

   /*    -webkit-border-top-right-radius: 166px;
    -webkit-border-bottom-left-radius: 166px;
    -moz-border-top-right-radius: 166px;
    -moz-border-bottom-left-radius: 166px;  */
  background-color: #f8f6f2;

}

.step-content0 {
 max-width: 800px;  
 min-width: 260px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
    background-color: #fff;
    height: 100%;
    color: #000;
       overflow: hidden;




}






.step-content1 {
  max-width: 800px;  
  min-width: 260px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  

color:#fff;

     font-style: normal;
    font-weight: 400;
 background-color:rgba(185, 130, 199,.9);
     height: 100%;

       overflow: hidden;



}




.step-content2 {
   max-width: 800px; 
  min-width: 260px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
    background-color: #fff;
    height: 100%;
    color: #000;
       overflow: hidden;



}







.step-content3 {
  max-width: 800px;  
  min-width: 260px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
    background-color: #fff;
    height: 100%;
    color: #000;
       overflow: hidden;



}



.step-content4 {
  max-width: 800px;  
   min-width: 260px;  
 width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
    background-color: #fff;
    height: 100%;
    color: #000;
       overflow: hidden;



}


 

.step-content5 {
  max-width: 800px;  
  min-width: 280px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  

color:#fff;

     font-style: normal;
    font-weight: 400;
 background-color:rgba(94, 41, 78,.9);
     height: 100%;

       overflow: hidden;



}





.step-content6 {
  max-width: 800px;  
  min-width: 280px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  

color:#fff;

     font-style: normal;
    font-weight: 400;
 background-color:rgba(94, 41, 78,.9);
     height: 100%;

       overflow: hidden;


}







.step-content7 {
  max-width: 800px;  
  min-width: 280px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
 background-color:rgba(109, 88, 51,.9);
    height: 100%;
    color: #fff;
       overflow: hidden;



}





.step-content8 {
  max-width: 800px;  
  min-width: 280px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
 background-color:rgba(109, 88, 51,.9);
    height: 100%;
    color: #fff;
       overflow: hidden;



}




.step-content9 {
  max-width: 800px;  
  min-width: 280px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
 background-color:rgba(109, 88, 51,.9);
    height: 100%;
    color: #fff;
       overflow: hidden;



}




.step-content10 {
  max-width: 800px;  
  min-width: 280px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
 background-color:rgba(109, 88, 51,.9);
    height: 100%;
    color: #fff;
       overflow: hidden;



}




.step-content11 {
  max-width: 800px;  
  min-width: 280px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
 background-color:rgba(109, 88, 51,.9);
    height: 100%;
    color: #fff;
       overflow: hidden;



}




.step-content12 {
 max-width: 800px;  
  min-width: 280px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
    background-color: #fff;
    height: 100%;
    color: #000;
       overflow: hidden;



}




.step-content13 {
 max-width: 800px;  
  min-width: 280px;  
  width:90%;
margin: 80vh 0 0 42px;
    padding:18px;
position: relative;
z-index: 99999999999;
      -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;
    -moz-border-top-right-radius: 66px;
    -moz-border-bottom-left-radius: 66px;  



     font-style: normal;
    font-weight: 400;
    background-color: #fff;
    height: 100%;
    color: #000;
       overflow: hidden;



}








#contentblockindent {
  width:75%;
  display: inline-block;
margin-bottom: 1em;
}
#contentblock {
  width:100%;
  display: inline-block;
margin-bottom: 1em;
}


.icon {
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  height: 60px;
  left: 2vw;
  position: fixed;
  top: 46px;
  width: 60px;
  z-index: 99999;
}



.example {

  margin: 2em auto 2em;
  padding:1em;
}

.example-dotted {
  -webkit-column-rule-style: dotted;
  -moz-column-rule-style: dotted;
  column-rule-style: dotted;
}




.columnsB {
  -webkit-columns: 2 250px;
  -moz-columns: 2 250px;
  columns: 2 250px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  -webkit-column-rule-width: 1px;
  -moz-column-rule-width: 1px;
  column-rule-width: 1px;
  -webkit-column-rule-color: #828282;
  -moz-column-rule-color: #828282;
  column-rule-color: #828282;
  margin: 1em auto 1em;
}

.columnsB-dotted {
  -webkit-column-rule-style: dotted;
  -moz-column-rule-style: dotted;
  column-rule-style: dotted;
}


.columnsC {
  -webkit-columns: 3 200px;
  -moz-columns: 3 200px;
  columns: 3 200px;
  -webkit-column-gap: 5em;
  -moz-column-gap: 5em;
  column-gap: 5em;
  -webkit-column-rule-width: 1px;
  -moz-column-rule-width: 1px;
  column-rule-width: 1px;
  -webkit-column-rule-color: #828282;
  -moz-column-rule-color: #828282;
  column-rule-color: #828282;
  margin: 2em auto 2em;
}

.columnsC-dotted {
  -webkit-column-rule-style: dotted;
  -moz-column-rule-style: dotted;
  column-rule-style: dotted;
}




ul {

  margin-bottom:1em;

}


h5 {

  padding: 0;
  font-family:
    "MyriadPro-Bold","HelveticaNeue", 
    "Helvetica Neue",
    'TeXGyreHerosRegular',
    "Helvetica",
    "Tahoma",
    "Geneva",
    "Arial",
    sans-serif;
/* padding-bottom: .3em; */
font-weight: 800;
/*     border-bottom: thin solid; */
margin-bottom:0;
margin-top:.6em;
top:0;
color: #6d5833;
text-transform: uppercase;
font-size: 1.6em;

}

h3 {

  padding: 0;
  font-family:
    "MyriadPro-Bold","HelveticaNeue", 
    "Helvetica Neue",
    'TeXGyreHerosRegular',
    "Helvetica",
    "Tahoma",
    "Geneva",
    "Arial",
    sans-serif;
line-height:1.3em;
padding-bottom: .3em;
font-weight: 800;
    border-bottom: thin solid;
margin-top:0;
margin-bottom:.6em;
top:0;


}







h3.prog {
color:#3871C1;
 }


h3.staff {
color:#379633;
}


h3.part {
color:#800AD6;
}

#container-0 {
/*  max-width: 800px; */



}
#container-1 {
/*  max-width: 800px; */



}


#container-2 {
/*  max-width: 800px;
*/

}

#container-3 {
/*  max-width: 800px;    background-color:rgba(128, 10, 214,.9);
 */


 }

#container-4 {
/*  max-width: 800px;   background-color:#001557;
 */



 }

#container-5 {
/*  max-width: 800px;    background-color:#AF202D;
*/


 }



#container-6 {
/*  max-width: 800px;
*/

}



#container-7 {
/*  max-width: 800px;
*/

}






#container-8 {
/*  max-width: 800px;     
*/

}





#container-9 {
/*  max-width: 800px;     
*/

}





#container-10 {
/*  max-width: 800px;     
*/


}



#container-11 {
/*  max-width: 800px;     
*/

}



#container-12 {
/*  max-width: 800px;     
*/

}



#container-13 {
/*  max-width: 800px;     
*/

}



#container-14 {
/*  max-width: 800px;     
*/
background-color:rgba(175, 32, 45,.9);
}



#container-15 {
/*  max-width: 800px;     
*/
background-color:rgba(175, 32, 45,.9);
}



#container-16 {
/*  max-width: 800px;     
*/
background-color:rgba(56, 113, 193,.9);
}



#container-17 {
/*  max-width: 800px;     
*/
background-color:rgba(55, 150, 51,.9);
}



#container-18 {
/*  max-width: 800px;     
*/
background-color:rgba(128, 10, 214,.9);
}




#container-19 {
/*  max-width: 800px;     
*/
background-color:rgba(175, 32, 45,.9);
}


#container-20 {
/*  max-width: 800px;     
*/
background-color:rgba(56, 113, 193,.9);
}


#container-21 {
/*  max-width: 800px;     
*/
background-color:rgba(56, 113, 193,.9);
}


#container-22 {
/*  max-width: 800px;     
*/
background-color:rgba(56, 113, 193,.9);
}







blockquote {
    font-family: "MyriadPro-Bold", "HelveticaNeue",
    
      "Helvetica Neue",
      'TeXGyreHerosRegular',
      "Helvetica",
      "Tahoma",
      "Geneva",
      "Arial",
      sans-serif;
    text-transform: uppercase;
    font-size: 18px;

    width: 100%;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #001557;
    border-left: none;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #001557;
}

blockquote cite {
    color: #001557;
    font-size: 14px;
    display: block;
    text-align: right;
    float: right;
    margin-top: 5px;
}


.bigtan {
  color:#6d5833;
  font-weight:800;
  text-transform: uppercase;
  width: 100%;
  display: block;
  margin-bottom: .3em;
  margin-top: .6em;
font-family: "MyriadPro-Bold", "HelveticaNeue",
    
      "Helvetica Neue",
      'TeXGyreHerosRegular',
      "Helvetica",
      "Tahoma",
      "Geneva",
      "Arial",
      sans-serif;
}





.bigwhite {
  color:#fff;
  font-weight:800;
  text-transform: uppercase;
   margin-bottom: .3em;
  margin-top: .6em;
font-family: "MyriadPro-Bold", "HelveticaNeue",
    
      "Helvetica Neue",
      'TeXGyreHerosRegular',
      "Helvetica",
      "Tahoma",
      "Geneva",
      "Arial",
      sans-serif;
}



.bigbrown {
color: #6d5833;
  font-weight:800;
  text-transform: uppercase;
   margin-bottom: .3em;
  margin-top: .6em;
font-family: "MyriadPro-Bold", "HelveticaNeue",
      "Helvetica Neue",
      'TeXGyreHerosRegular',
      "Helvetica",
      "Tahoma",
      "Geneva",
      "Arial",
      sans-serif;
  font-size:14px;  
}


#bignumber {
  color:#efeadf;
  font-weight:800;
  text-transform: uppercase;
  width: 10%;
  margin-right: .2em;
  margin-top: .4em;
font-size: 4em;
display: inline-block;
text-align: right;
font-family: "MyriadPro-Bold", "HelveticaNeue",
    
      "Helvetica Neue",
      'TeXGyreHerosRegular',
      "Helvetica",
      "Tahoma",
      "Geneva",
      "Arial",
      sans-serif;
vertical-align:top;

}



.imgcontainer {

  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}

.imgcontainerB {

  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: .3em;
  margin-top: 1em;
}


#container-22 {

display: none;

}

#titleCloser {

    background-color: rgba(56, 113, 193, .9);
padding:3vh;
top: 0;
left: 0;
  text-transform: none !important;
  color: #fff;
  font-size: 1.5em;
display: none;

    font-family: "MyriadPro-Bold", "HelveticaNeue",
    
      "Helvetica Neue",
      'TeXGyreHerosRegular',
      "Helvetica",
      "Tahoma",
      "Geneva",
      "Arial",
      sans-serif;
  font-weight: 400;

  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  line-height: 1.3em;
  position: fixed;
  width: 100%;
  z-index: 99999999;
}
#titleCloser img {
  margin-right: 1em;
}













/* Mobile Styles */
@media only screen and (max-width: 400px) {

 

#logoOpener {
 
    background-color: #fff;
    top: 0;
    left: 0;
    text-transform: none !important;
    /* color: #3871C1; */
    position: fixed;
    font-family: "MyriadPro-Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    /* padding: .4em; */
    text-align: center;
    line-height: 1em;
    /* max-width: 350px; */
    width: 320px;
    z-index: 9999999999999;
    -webkit-border-top-right-radius: 36px;
    -webkit-border-bottom-left-radius: 36px;
    -moz-border-top-right-radius: 36px;
    -moz-border-bottom-left-radius: 36px;
    overflow: hidden;
 }


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 
 

#logoOpener {

    background-color: #fff;
    top: 0;
    left: 0;
    text-transform: none !important;
    /* color: #3871C1; */
    position: fixed;
    font-family: "MyriadPro-Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    /* padding: .4em; */
    text-align: center;
    line-height: 1em;
    /* max-width: 350px; */
    width: 320px;
    z-index: 9999999999999;
    -webkit-border-top-right-radius: 36px;
    -webkit-border-bottom-left-radius: 36px;
    -moz-border-top-right-radius: 36px;
    -moz-border-bottom-left-radius: 36px;
    overflow: hidden;
 }


}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


#logoOpener {

    background-color: #fff;
    top: 0;
    left: 0;
    text-transform: none !important;
    /* color: #3871C1; */
    position: fixed;
    font-family: "MyriadPro-Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    /* padding: .4em; */
    text-align: center;
    line-height: 1em;
    /* max-width: 350px; */
    width: 320px;
    z-index: 9999999999999;
    -webkit-border-top-right-radius: 36px;
    -webkit-border-bottom-left-radius: 36px;
    -moz-border-top-right-radius: 36px;
    -moz-border-bottom-left-radius: 36px;
    overflow: hidden;
 }

}



#logoOpener img {
    margin-top: 1em;
    margin-bottom: .6em;
    width: 240px;
}

.introimg {

padding: .3em;


}


.tagblues {
  color:#fff;
  font-weight:800;
  text-transform: uppercase;
  background:none;
  background-color:none;
  font-size:.7em;
  max-width:400px;
  bottom:3vh;
  right:3vw;
  position:fixed;
  display:block;
  z-index:999999999999;
      text-shadow: 1px 1px 1px #000;

}


